
ul{
    list-style-type: none;
}
ul.nav_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
img.customlogo-logo-site {
    max-width: 150px;
    object-fit: cover;
}
.customlogo {
    position: fixed;
    z-index: 999;
}
.myhomecontainer {
	width: 100%;
	height: 100vh;
	position: relative;
}
.pageDiv {
	--w: calc(100% - 250px);
	display: block;
	width: var(--w);
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: width 0.4s;
	border-right: 1px solid #d2d2d2;
}
.page {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}
.page.hide {
	z-index: 2;
    -webkit-animation: clipPolygonHide .8s linear;
    -moz-animation: clipPolygonHide .8s linear;
    animation: clipPolygonHide .8s linear;
}
.page.show {
	z-index: 1;
	-webkit-animation: clipPolygonShow .8s linear;
	-moz-animation: clipPolygonShow .8s linear;
	animation: clipPolygonShow .8s linear
}
.page.on {
	display: block;
}
.page0 {
	background: url("./homebanner.png") center / cover no-repeat;
	animation: bgmove 2s infinite alternate-reverse;
}
@keyframes bgmove {
	100%{
		transform: translate(5px,5px);
	}
}
.page1{
	background: #f4f4f4;
}
.page2{
	background: #f6f6f6;
}
.page3 {
	background: #000;
}
.page4 {
	background: #FF00FF;
}
.page5 {
	background: #F0A000;
}

/*导航*/
.nav_wrapper {
	height: 892px;
	position: absolute;
	right: 80px;
	z-index: 99;
	top: 145px;
	padding-top: 110px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 1px solid rgba(255, 255, 255, .1);
	-webkit-transition: -webkit-transform .4s linear;
	-moz-transition: -moz-transform .4s linear;
	transition: transform .4s linear;
	-webkit-transform: translateX(180%);
	-moz-transform: translateX(180%);
	-ms-transform: translateX(180%);
	transform: translateX(180%)
}

.nav_wrapper.show {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}

.nav_wrapper .nav_list {
	height: 385px
}

.nav_wrapper .nav_list li {
	height: 55px;
	font-size: 16px;
	line-height: 55px;
	font-weight: lighter;
	color: #020202;
	opacity: .6;
	cursor: pointer;
	position: relative;
	padding-right: 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .12s ease-in-out;
	-moz-transition: all .12s ease-in-out;
	transition: all .12s ease-in-out
}

.nav_wrapper .nav_list li a {
	font-size: 16px;
	line-height: 55px;
	font-weight: lighter;
	color: #fff
}

.nav_wrapper .nav_list li::after {
	content: "";
	width: 4px;
	height: 4px;
	background: url(./nav_point.png) center / contain no-repeat;
	position: absolute;
	right: -3px;
	top: 50%;
	margin-top: -2px
}

.nav_wrapper .nav_list li:hover,
.nav_wrapper .nav_list li.active {
	color: #a21f20;
	opacity: 1;
	-webkit-filter: brightness(1.1);
	filter: brightness(1.1)
}

.nav_wrapper .nav_list li:hover::before,
.nav_wrapper .nav_list li.active::before {
	content: "";
	width: 19px;
	height: 19px;
	background: url(./nav_star.png) center / 100% 100% no-repeat;
	position: absolute;
	top: 50%;
	left: -25px;
	margin-top: -10px
}
/*导航end*/




/*动画*/
@-webkit-keyframes clipPolygonShow {
	0% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
	}
	25% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%);
		clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%)
	}
	50% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%);
		clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%)
	}
	75% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%)
	}
	100% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)
	}
}

@-moz-keyframes clipPolygonShow {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
	}
	25% {
		clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%)
	}
	50% {
		clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%)
	}
	75% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%)
	}
	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)
	}
}

@keyframes clipPolygonShow {
	0% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
	}
	25% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%);
		clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%)
	}
	50% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%);
		clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%)
	}
	75% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%)
	}
	100% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)
	}
}

@-webkit-keyframes clipPolygonHide {
	0% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)
	}
	25% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%)
	}
	50% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%);
		clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%)
	}
	75% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%);
		clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%)
	}
	100% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
	}
}

@-moz-keyframes clipPolygonHide {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)
	}
	25% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%)
	}
	50% {
		clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%)
	}
	75% {
		clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%)
	}
	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
	}
}

@keyframes clipPolygonHide {
	0% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)
	}
	25% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%);
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 24%)
	}
	50% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%);
		clip-path: polygon(0 100%, 100% 100%, 100% 26%, 0 57%)
	}
	75% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%);
		clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 88%)
	}
	100% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%)
	}
}