@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap");





main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    & section {
        scroll-snap-align: start;
    }
}

img {
    flex: 0 0 50%;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    animation: linear inAndOut;
    animation-timeline: view();
}

section {
    display: flex;
    align-items: center;
    min-height: 300px;
    height: 50vh;

    &:nth-child(even) {
        background: black;
        color: white;
        flex-direction: row-reverse;

        & img {
            animation-name: inAndOutReverse;
        }
    }
}

.text {
    padding: 4rem;
    flex: 0 0 50vw;
    animation: linear inAndOutVertical;
    animation-timeline: view();
}

@keyframes inAndOut {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes inAndOutReverse {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes inAndOutVertical {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@media screen and (max-width:700px) {
    section {
        height: 100dvh;
        align-items: stretch;
        flex-wrap: wrap;

        & img,
        .text {
            flex: 0 0 100%;
            animation-name: inAndOutVertical;
        }
    }

    img {
        height: 60dvh;
        flex-grow: 1;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40dvh;
        padding: 0.6rem;
    }
}




*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Architects Daughter", cursive;
    font-size: 2rem;
    letter-spacing: 0.05em;
    margin: 0 0 1rem;
}